services:
  app:
    build:
      dockerfile: Dockerfile
    restart:
      unless-stopped
    container_name: system-app
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - dev/app.env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy

  celery_app:
    build:
      dockerfile: Dockerfile
    container_name: system-celery_app
    command: celery -A celery_app worker --concurrency=${CELERY_WORKERS_COUNT} --loglevel ${CELERY_LOG_LEVEL}
    env_file:
      - dev/celery_app.env
    volumes:
      - .:/app
    depends_on:
      - redis
      - app

  postgres:
    image: postgres:15
    container_name: system-postgres
    env_file:
      - dev/postgres.env
    healthcheck:
      test: /usr/bin/pg_isready -U postgres
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: system-redis
    command: redis-server /data/redis/redis.conf
    volumes:
      - ./dev/redis.conf:/data/redis/redis.conf
